.title {
	text-decoration: underline;
	text-align: center;
}

.subtitle {
	text-align: center;
}

.table {
  	width: 100%;
  	border-collapse: collapse;
  	border: 3px solid purple;
  	text-align: center;
  	background: url("./background.jpg");
}

td {
	border-left: 1px dashed purple;
	border-top: 1px solid purple;
}

th {
	border-bottom: 1px solid purple;
}

.no {
	background-color: purple;
	opacity: 0.5;
}

.vertical {
	vertical-align: middle;
	writing-mode: vertical-rl;		
	font-size: 	20px;
}

.me {
	background: center/cover no-repeat url("./me.jpg");
	height: 150px;
	opacity: 0.9;
}

iframe {
	margin: 0 auto;
	margin-top: 10px;
    display: block;
}